.page {
    padding-bottom: 15px;
}

.group-model .panel-heading,
.bound-model .panel-heading {
    padding: 6px 15px;
}

.bold {
    font-weight: bold;
}

.boundary {
    height: 60px;
}
.panel-body .form-group:last-child {
    margin-bottom: 0;
}