<div class="col-md-4 bound-model">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control discipline" placeholder="Предмет"
                           value="<%= discipline.alias %>"/>
                </div>
                <div class="col-md-6">
                    <a class="pull-right bound-remove" href="javascript:void(0);"><span
                            class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 bound-list">
                    <% _.each(days, function(day) { %>

                        <%= utils.template.render("day_bound", day) %>

                    <% }); %>
                    <button type="button" class="btn btn-primary new-day-bound">Добавить</button>
                </div>
                <div class="col-md-6 bound-list">
                    <% _.each(times, function(time) { %>

                        <%= utils.template.render("time_bound", time) %>

                    <% }); %>
                    <button type="button" class="btn btn-primary new-time-bound">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>