<div class="col-md-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <input type="text" class="form-control professor" placeholder="Преподаватель" value="<%- professor.last_name %>" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control discipline" placeholder="Предмет" value="<%- discipline.alias %>" />
            </div>
            <select class="form-control lesson-type">
                <option value="1">Лекция</option>
                <option value="2">Практика</option>
            </select>
        </div>
    </div>
</div>